rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create a contact message, but not read them.
    match /contactMessages/{messageId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
